<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<strong>Kelvin Nosakhare Eguavoen</strong><br>
Research Scholar

<i>I am interested in data science because of it's importance in energy research. As a researcher working on semiconductor materials for solar energy harvesting, data science will help accelerate the screening of novel semiconductor materials.</i>

<h3>The code below prints out "Hello World"</h3>

In [1]:
print("Hello World")

Hello World

<hr> 
<br> 
<ul>
    <li>Apple</li>
    <li>Mango</li>
</ul>
<br>
<ol>
    <li>Lion</li>
    <li>Dog</li>
</ol>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Profession</th>
    </tr>
    <tr>
        <td>James scot</td>
        <td>Data Scientist</td>
    </tr>
    <tr>
        <td>Edward Duke</td>
        <td>Medical Doctor</td>
    </tr>
</table>